.cargador {

  &__cortina {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.6);
    z-index: 99999;
  }

  &__texto{
    text-align: center;
    position: fixed;
    top: -1px;
    left: 50%;
    transform: translateX(-50%);
    height: 50px;
    width: 130px;
    padding-top: 11px;
    z-index: 999999;
    border: solid 1px #93afff;
    border-radius: 0 0 10px 10px;
    background-color: #c7dcf2;
    color: #2d417d;
  }

}
