.botonera {

}

.primary {
  background-color: #75a7dc;
  border-color: #5d95d0;
  color: #FFF;
  min-width: 90px;
}

.primary:hover {
  background-color: #5d8cbd;
}

.primary:focus {
  outline: unset;
}
